body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  

  /* ABOUT INTRODUCTION */
  .about-introduction {
      max-height: 200px !important;
      margin-left: 2em;
      margin-bottom: 1em;
  }
  .about {
      margin: 4em;
      /* padding-left: 2em; */
      max-width:300px ;
      max-height: 700px;
  }
  .about h1 {
      font-size: 2.4em;
      z-index: 300;
  }
.about img {
    top: -7em;
    left: -2em;
    height: 20em;
    position: relative;
    z-index: -300;
}
.about-description {
    margin: 1.5em;
    z-index: 400;
    max-width:550px;
    padding: 1em 2em 1em 2em;
background-color: rgba(255, 255, 255, 0.495);
box-shadow: 0px 2px 4px 2px rgba(0 0 0 / 10%), 0px -2px 4px 2px rgba(0 0 0 / 10%);
/*Blur for now*/
    backdrop-filter: blur(5px);
border-radius: 0.8em;
position: absolute;
top: 6em;
}
.about-description h2 {
font-size: 1em;
}

.about-description p {
font-size: 0.9em;
}

/* HERO ABOUT BACKGROUND */
.hero-section {
    margin-top: 12em;
    background-image: url(../img/heroimg.jpg);
    background-size: cover;
   width: 100vw;
   height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
box-shadow: 0px 2px 4px 2px rgba(0 0 0 / 10%), 0px -2px 4px 2px rgba(0 0 0 / 10%);
/*Blur for now*/
    backdrop-filter: blur(15px);
  }
.hero-box {
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
    margin: 1em;
    max-width: 20em;
    min-height: 10em;
    padding: 1em;
}

.hero-box p {
    font-size: 0.9em;
}

/* KAJA SECTION */
.kaja-section {
    margin: 1em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.kaja-section h3 {
    font-size: 2em;
   
}
.kaja-section img {
    width: 100%;
    z-index: -200;
}
.kaja-section p {
    font-size: 0.8em;
    width: 70%;
    z-index: 200;
    position: absolute;
    padding: 1em 2em 1em 2em;
    background-color: rgba(255, 255, 255, 0.495);
    box-shadow: 0px 2px 4px 2px rgba(0 0 0 / 10%), 0px -2px 4px 2px rgba(0 0 0 / 10%);
    /*Blur for now*/
        backdrop-filter: blur(5px);
    border-radius: 0.8em;
}


/* OTHER WORKERS */
.other-workers{
width: 90%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.worker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.worker-description{
   text-align: center;
}
.worker img{
width: 60%;
padding: 1em;
}
.worker-description h3 {
    margin: 0px;
    font-size: 1.2em;
}
.worker-description p {
    font-size: 0.8em;
}


/* RESPONSIOBILITY */
@media only screen and (min-width:400px) {
    .hero-section {
        margin-top: 10em;
    }
}
@media only screen and (min-width:500px) {
    .hero-section {
        margin-top: 4em;
    }
}

@media only screen and (min-width:600px) {
    .hero-section {
        margin-top: 2em;
    }
}

@media only screen and (min-width:700px) {
    .about-introduction {
        flex-direction: row;
    }
    .about-description {
      right: -2em;
    }

    .about-introduction {
        max-height: 500px;
    }
    .hero-section {
        margin-top: 0.5em;
    }
    .hero-section {
        margin-top: 1em;
    }
}

@media only screen and (min-width:800px) {
    .about-description {
        right: 0em;
      }
      .about-description h2 {
        font-size: 1.3em;
        }
        
        .about-description p {
        font-size: 1em;
        }
}

@media only screen and (min-width:900px) {
    .about-description {
        right: 5em;
      }
      .hero-section {
          flex-direction: row;
      }
      .hero-box {
        min-height: 12em;
      }
      .hero-box  h3 {
          font-size: 1.6em;
      }
      .hero-box p {
          padding: 1em;
          font-size: 1.1em;
      }
}
@media only screen and (min-width:1000px) {
    .about-introduction {
        margin-left: 6em;
    }
    .about-description {
        right: 10em;
      }
}
@media only screen and (min-width:1100px) {
    .about-description {
        right: 15em;
      }
}
@media only screen and (min-width:1200px) {
    .about-description {
        right: 20em;
      }
}
@media only screen and (min-width:1300px) {
    .about-description {
        right: 25em;
      }
}
@media only screen and (min-width:1300px) {
    
}
@media only screen and (min-width:1300px) {
}