/*GENERAL RULESETS*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*HEADER STYLING*/
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    font-weight: 300;
    font-size: .9em;
    background-color: white;
}
header ul{
    margin: 0;
    display: flex;
    list-style-type: none;
}
header ul a{
    padding: 10px;
}
header i{
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.right-side-navbar{
    display: flex;
    padding-right: 70px;
}
.right-side-navbar a{
    padding: 10px;
}
.right-side-navbar p{
    margin: 0;
}
#centered-logo-navbar{
    background-image: url(./logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 50vw;
    margin-left: -85px;
    position: relative;

}
.centered-logo-navbar-container{
    position: absolute;
    height: 80px;
    width: 170px;
    padding: 10px 0 ;
}
.left-side-navbar{
    z-index: 100;
}
video{
    width: 100vw;
    height: 100vh;
}
.left-div{
    width: 50%;
    height: 100%;
    background-color: red;
}
/*END OF HEADER STYLING*/






main{
    padding-top: calc(100vh + 80px);
}
.hero-video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    object-fit: cover;
}



/* ------------------------ */
/* Hover animation for the navbar links */
header a::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #7ad03a;
    transition: width .3s;
}
header a:hover::after{
    width: 100%;
}
/* end of it*/
/*-------------------------*/


/* QUERIES -------------------*/
@media screen and (max-width: 1050px){
    .collapsable{
        display: none;
    }
    .burger-menu{
        /* DOESNT MAKE ANY SENSE WHY I HAVE TO PUT IMPORTANT IN HERE FFS*/
        display: block !important;
        position: initial !important;
    }
    .right-side-navbar{
        padding-right: 40px;
    }
}

@media screen and (max-width: 400px){
    .right-side-navbar{
        padding-right: 20px;
    }
    header nav ul{
        padding-left: 20px;
    }
}
/*END OF QUERIES*/
/*MOBILE MENU STYLING*/
.burger-menu{
    display: none;
    position: absolute;
}
.mobile-menu{
    position: fixed;
    width: 70vw;
    height: 100vh;
    top: 0;
    left: -70vw;
    background-color: white;
    transition: all 1.5s;
    z-index: 102;
    box-shadow: 4px 0px 5px 0 rgb(0 0 0 / 10%);
    padding: 2em;
}
.mobile-menu ul{
    list-style-type: none;
    padding-left: 0;
}
.mobile-menu ul li{
    padding: 1em;
    font-weight: 500;
    font-size: 1.1em;
}
.mobile-menu input{
    width: 100%;
    height: 3em;
    border: none;
    /* COLOR OF BORDER BOTTOM NEEDS CHANGING*/
    border-bottom: 1px #333 solid;
}
#overlay-mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1.5s;
}
.top-mobile-view{
    display: flex;
    justify-content: space-between;
}
.top-mobile-view i{
    font-size: 2em;
}
.top-mobile-view i:hover{
    cursor: pointer;
}
#search-container-mobile-menu{
    padding-left: 0;
}
/*END OF MOBILE MENU STYLING*/
















.navigation-tiles-container{
    width: 100vw;
    height: 100vh;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr
    1fr;
    grid-gap: 1em;
}
.navigation-tile{
    width: 100%;
    height: 100%;
    background-size: cover;
    background:linear-gradient(0deg, rgba(255, 255, 150, 0.3), rgba(0, 255, 150, 0.3)), url(./planteplaeholder.jpeg);
}
.navigation-circle-tile{
    background-color: white;
    width: 18em;
    height: 18em;
    position: relative;
    border-radius: 50%;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, .2);

}
#workshops-tile{
    grid-area: 1/1/2/2;
}
#about-tile{
    grid-area: 1/2/2/3;
}
#contact-tile{
    grid-area: 2/1/3/2;
}
#spaces-tile, #shop-tile{
    grid-area: 2/2/3/3;
}
#shop-tile{
    position: absolute;
    margin-left: calc(50% - 10em - 50px);
    margin-top: calc(20% - 10em);
}
.navigation-circle-tile{
    display: flex;
    justify-content:center;
    align-items:center;
}
.text-navigation-circle{
    font-size: 4em;
}







/*BLOCKQUOTE/////////////////////*/

.quote-and-picture-container{
    width: 100vw;
    display: flex;
    /* margin ponizej jest tu na chwile*/
    margin-bottom: 200px;
    justify-content: center;

    background-image: url(./quoteblockimage.png);

    background-position:500% 0%;
}

.quote::before{
    content: "\201c";
    color: lightsalmon;
    display: block;
    font-size: 4em;
    margin-bottom: -.2em;
}
.quote{
    font-size: 2.5em;
    width: 80%;
    /*below margin = temporary*/
    margin-left: 5em;
    font-family: 'PT Sans', sans-serif;
    mix-blend-mode: luminosity    ;

    /*
    normal	This is default. Sets the blending mode to normal
multiply	Sets the blending mode to multiply
screen	Sets the blending mode to screen
overlay	Sets the blending mode to overlay
darken	Sets the blending mode to darken
lighten	Sets the blending mode to lighten
color-dodge	Sets the blending mode to color-dodge
color-burn	Sets the blending mode to color-burn
difference	Sets the blending mode to difference
exclusion	Sets the blending mode to exclusion
hue	Sets the blending mode to hue
saturation	Sets the blending mode to saturation
color	Sets the blending mode to color
luminosity	Sets the blending mode to luminosity
*/
}
.specified-quote{
    background-color: white;
    mix-blend-mode: difference;
    color: black;
}
.products-header{
    font-size: 3em;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 4em;
}
.one-product{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}
.product-image{
    background-image: url(./planteplaeholder.jpeg);
    background-size: contain;
    width: 100%;
    min-height: 400px;
}
.product-title, .product-price{
    text-align: center;
}
.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button-wrapper button{
    padding: 1.5em 5em;
    background-color: coral;
}







/*CODE IMPORTED FROM NOTHER FILE JUST CHECKIN NOW*/
/* FOOTER */

footer{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: 1fr 0.5fr;
    width: 100%;
    z-index: 100;
    bottom: 0;
    box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%);
    backdrop-filter: blur(15px);
    margin-top: 100px;
    padding: 0 100px;
}
.newsletter-section{
    grid-area: 1/1/2/3;
    /* display: flex;
    justify-content: start;
    flex-direction: column; */
}
.newsletter-section p{
    padding-right: 200px;
}
.contact-info{
    grid-area: 1/3/2/4;
    
}
.warehouse-info{
    grid-area: 1/4/2/5;
    
}
.footer-navigation{
    grid-area: 1/5/2/6;
}
footer div{
    padding-top: 70px;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer input{
    padding: 20px;
    border-radius: 5px;

    background-color: #D0D0D0;
    box-shadow:  -4px 4px 3px rgba(110, 151, 228, 0.4), inset 0px 0px 10px 0px rgba(110, 193, 228, 1);
    border: none;
    color: rgb(110, 193, 228);
    font-size: 1.1rem;
        text-shadow: 2px 2px 2px rgba(110, 193, 228, .6);
        backdrop-filter: blur(15px);
}
.zobaczmy{
    margin: 90px 0;
}
footer p, footer li{
    line-height: 1.8em;
}
footer button{
    margin: 1em 0 0 0 ;
}
footer i{
    font-size: 2em;
}
.footer-connect-section{
    grid-area: 2/5/3/6;
}
.copyright-section{
    /* grid-area: 2/1/3/2; */
}
.copyright-section, .footer-connect-section{
    padding-bottom: 2em;
}
.icons-container-footer{
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.footer-section-header{
    font-weight: 600;
}

#different-color-responsibility {
    color: #7c8807;
}
a{
    transition-duration: .3s;
}
a:hover, #different-color-responsibility:hover{
    color:  rgba(110, 193, 228, 1);
}
.higher-z-index{
    z-index: 15190;
}